@inject IHttpContextAccessor HttpContextAccessor
@using Backend_portafolio.Entities
@using Backend_portafolio.Helper
@model IEnumerable<Categoria>

@{
	ViewData["Title"] = "Categorias";
}

<h1 class="mb-3">Listado de Categorias</h1>
<p class="fs-6 mb-3">Categorias que se utilizan para organizar las entradas.</p>

<div class="d-flex justify-content-between align-items-center">
	<!-- CREAR CATEGORIAS -->
	<a asp-action="Crear" class="btn btn-action mb-3">Crear nueva categoria</a>

	<!-- CANTIDAD DE CATEGORIAS -->
	<select onchange="cambiarCantidadEntradas(this.value)" class="form-select select-style w-25">
		<option selected>Cantidad de Entradas</option>
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="15">15</option>
	</select>

	<!-- BUSCADOR-->
	<form method="Categorias" asp-action="Index" method="post" class="d-flex justify-content-center align-items-center gap-2">
		<input type="text" name="buscar" class="form-control input-style" placeholder="Buscar entrada..." />
		<div class="input-group-append">
			<button type="submit" class="btn btn-action">Buscar</button>
		</div>
	</form>
</div>

@if(Model.Count() > 0)
{
	<div class="border-table">
		<table class="table table-borderless">
			<thead class="table-text-color text-uppercase border-bottom table-border-row-color">
				<tr class="table-titles">
					<th class="col-10">Categorias</th>
					<th class="col-2">Acciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var categoria in Model)
				{
					<tr class="@(categoria == Model.LastOrDefault() ? "border-bottom-0" : "border-bottom table-border-row-color")">
						<td>
							@categoria.name
						</td>
						<td class="d-flex gap-2">
							<a class="btn btn-edit" asp-action="Editar" asp-route-id="@categoria.id">Editar</a>
							<a class="btn btn-delete" onclick="openModal({id: '@categoria.id', name: '@categoria.name'})">Borrar</a>
						</td>
					</tr>
				}
			</tbody>

		</table>
	</div>
}
else
{
	<h3>Aún no hay tipos de media. Comience creando uno apretandoen "Crear Nuevo"</h3>
}

<!-- MODAL -->
<partial name="_Modal" model='new { url = "/Categorias", action = "Borrar" }' />


@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}
