@model BioViewModel
@using Backend_portafolio.Helper
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Bio";

    // Obtenemos el año actual
    int anios = DateTime.Now.Year - 1900;
}

<h3>Bio</h3>

<!-- LISTADO DE BIO -->
<div class="w-100 p-1 row gap-3">
    <div class=" mt-2 col-8 p-2">
        <table class="table table-borderless">
            <thead class="table-text-color text-uppercase border-bottom table-border-row-color">
                <tr class="table-titles">
                    <th scope="col" class="col-1">Año</th>
                    <th scope="col" class="col-8">trabajo</th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var bio in Model.Bios)
                {
                    if (Model.Bios.Count() != 0)
                    {
                        <tr class="@(bio == Model.Bios.LastOrDefault() ? "border-bottom-0" : "border-bottom table-border-row-color")">
                            <td>@bio.year</td>
                            <td>@bio.work</td>
                            <td class="d-flex gap-2 justify-content-center">
                                <a class="btn btn-edit" onclick="showFormEditar(@bio.id)">Editar</a>
                                <a class="btn btn-delete" onclick="openModal({id: '@bio.id', name: '@bio.work'})" )>Borrar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table> 
        <button class="btn btn-action" id="btnAddBio" onclick="showForm()"><i class="fa-solid fa-plus me-2"></i>Agregar Bio</button>
    </div>
    <!-- FIN LISTADO -->

    <!-- CREAR -->
    <div id="formAddBio" class="mt-2 col-8 p-2 gap-2 hide">
        <form asp-action="Bio" asp-controller="Bio">
            <h3>Crear</h3>
            <!-- VALIDATION -->
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="d-flex flex-column mt-2 gap-3">
                <input type="hidden" asp-for="@Model.user_id" />
                <div class="w-25">
                    <select class="form-select optSelect" asp-for="@Model.year">
                        @for (int i = anios; i >= 50; i--)
                        {
                            <option value="@(i+1900)">@(i + 1900)</option>
                        }
                    </select>
                </div>
                <div class="w-100">
                    @* <input type="text" class="form-control" id="inputFormBio" asp-for="@Model.work" placeholder="Ingrese una breve descripción"/> *@
                    <!-- STYLES -->
                    <partial name="_TextControl" />

                    <!-- TEXT -->
                    <textarea asp-for="@Model.work" class="form-control textarea-style inputFormBioCrear" rows="10" placeholder="Ingrese una breve descripción"></textarea>
                </div>
                <div class="w-100">
                    <button type="submit" class="btn btn-action">Guardar</button>
                    <a class="btn btn-delete" onclick="hideForm()">Cancelar</a>
                </div>
            </div>
            <span asp-validation-for="@Model.work" class="form-error"></span>
            <span asp-validation-for="@Model.year" class="form-error"></span>
        </form>
    </div>
    <!-- FIN CREAR-->

    <!-- EDITAR -->
    <div class="mt-2 col-8 p-2 gap-2 hide" id="formEditar">
        <h3>Editar</h3>
        <form asp-action="Editar" asp-controller="Bio">
            <!-- VALIDATION -->
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" id="formIdEditar" asp-for="@Model.id" />
            <input type="hidden" id="formuserEditar" asp-for="@Model.user_id" />
            <div class="d-flex flex-column mt-2 gap-3">

                <div class="w-25">
                    <select class="form-select optSelect" asp-for="@Model.year" id="formYearEditar">
                        @for (int i = anios; i >= 50; i--)
                        {
                            <option value="@(i+1900)">@(i + 1900)</option>
                        }
                    </select>
                </div>
                <div class="w-100">
                    @* <input type="text" class="form-control" id="inputFormBioEditar" asp-for="@Model.work" /> *@

                    <!-- STYLES -->
                    <partial name="_TextControl" />

                    <!-- TEXT -->
                    <textarea asp-for="@Model.work" class="form-control textarea-style inputFormBioEditar" rows="10" placeholder="Ingrese una breve descripción"></textarea>
                </div>
                <div class="w-100">
                    <button type="submit" class="btn btn-edit">Editar</button>
                    <a class="btn btn-delete" onclick="hideFormEditar()">Cancelar</a>
                </div>
            </div>
            <span asp-validation-for="@Model.work" class="form-error"></span>
            <span asp-validation-for="@Model.year" class="form-error"></span>
        </form>
    </div>
</div>
<!-- FIN EDITAR -->

<!-- MODAL -->
<partial name="_Modal" model='new { url = "/Bio", action="Borrar" }' />

<!-- SCRIPTS -->
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<script>

    function showForm()
    {
        let formAdd = document.getElementById("formAddBio");
        let formEdit = document.getElementById("formEditar");
        let formInput = document.getElementsByClassName("inputFormBioCrear")[0];
        
        formAdd.classList.remove("hide");
        formInput.setAttribute('id', "post_text")

        if(!formEdit.classList.contains('hide'))
            formEdit.classList.add("hide");
    }

    function hideForm()
    {
        let form = document.getElementById("formAddBio");
        form.classList.add("hide");

        let formInput = document.getElementsByClassName("inputFormBioCrear")[0];
        formInput.ariaValueMax = "";
        formInput.removeAttribute('id')

    }

    function showFormEditar(id)
    {
        let formEdit = document.getElementById("formEditar");
        let formAdd = document.getElementById("formAddBio");
        let formInput = document.getElementsByClassName("inputFormBioEditar")[0];

        cargarBio(id);

        formEdit.classList.remove("hide");
        formInput.setAttribute('id', "post_text")

        if(!formAdd.classList.contains('hide'))
            formAdd.classList.add("hide");
    }

     function hideFormEditar()
    {
        let form = document.getElementById("formEditar");
        form.classList.add("hide");

        let formInput = document.getElementsByClassName("inputFormBioEditar")[0];
        formInput.ariaValueMax = "";
        formInput.removeAttribute('id')

    }

</script>