@using Backend_portafolio.Helper
@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@using Microsoft.AspNetCore.Identity
@using Backend_portafolio.Entities
@inject SignInManager<User> MySignInManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    // ENTRADAS JSON
    string formatsJson = string.Empty;
    List<Format> formats = null;

    var currentUser = await MySignInManager.UserManager.GetUserAsync(User);

    @if (MySignInManager.IsSignedIn(User))
    {
        formatsJson = HttpContextAccessor.HttpContext.Session.GetString("Formats");
        formats = JsonSerializer.Deserialize<List<Format>>(formatsJson);
    }

    //  modal
    ModalViewModel errorModal = Session.GetErrorSession(HttpContextAccessor.HttpContext);
    ModalViewModel successModal = Session.GetSuccessSession(HttpContextAccessor.HttpContext);

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Backend_portafolio.styles.css" asp-append-version="true" />

    <!-- EXTERNAL CDN -->
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/1f56f23eef.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            @if (MySignInManager.IsSignedIn(User))
            {
                <div class="menu_width px-sm-2 px-0 menu-color" id="lateralBar" collapse="false">
                    <!-- MENU -->
                    <div class="d-flex flex-column align-items-center align-items-sm-start justify-content-lg-between pt-2 min-vh-100">

                        <!-- * TITULO -->
                        <div class="nav-title-page nav-title-page-dimension" id="navTitle">
                            <a href="/" >
                                <span class="fs-6 item_size text-white" id="itemTitle">PANEL</span>
                            </a>
                             <i class="menu-hamb fa-solid fa-bars d-none d-lg-block" id="btnBars"></i>
                        </div>

                        <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                            <!-- * HOME -->
                            <li>
                                <a href="/" class="nav-link align-middle px-3 nav-title" id="itemLi">
                                    <i class="iconos fa-solid fa-house"></i>
                                    <span class="ms-1 item_size" id="itemTitle">Home</span>
                                </a>
                            </li>

                            <!-- * POSTS -->
                            <li id="nav_items">
                                <a href="#subMenuPosts" data-bs-toggle="collapse" class="nav-link align-middle nav-title" id="itemLi">
                                    <i class="iconos fa-solid fa-pen"></i>
                                    <span class="ms-1 item_size" id="itemTitle">Post</span>
                                </a>

                                @if (formats != null)
                                {
                                    <ul class="collapse nav flex-column ms-1 item_subNav" id="subMenuPosts" data-bs-parent="#menu">
                                        @foreach (var format in formats)
                                        {
                                            <li class="w-100">
                                                <a asp-action="Index" asp-controller="Posts" asp-route-format="@format.name" class="nav-link item_subNav px-3">
                                                    <span class="item_size">
                                                        <i class="subiconos fa-regular fa-circle ms-2"></i>
                                                        <span class="ms-2">@format.name</span>
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>

                            <!-- * CATEGORIES -->
                            <li id="nav_items">
                                <a href="#subMenuCategories" data-bs-toggle="collapse" class="nav-link align-middle nav-title" id="itemLi">
                                    <i class="iconos fa-solid fa-list"></i>
                                    <span class="ms-1 item_size" id="itemTitle">Categoria</span>
                                </a>
                                <ul class="collapse nav flex-column ms-1" id="subMenuCategories" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a asp-action="Index" asp-controller="Categorias" class="nav-link px-3 item_subNav">
                                            <span class="item_size">
                                                <i class="subiconos fa-regular fa-circle ms-2"></i>
                                                <span class="ms-2">Listado</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Crear" asp-controller="Categorias" class="nav-link px-3 item_subNav">
                                            <span class="item_size">
                                                <i class="subiconos fa-regular fa-circle ms-2"></i>
                                                <span class="ms-2">Crear</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- * FORMATS -->
                            <li id="nav_items">
                                <a href="#subMenuFormats" data-bs-toggle="collapse" class="nav-link align-middle nav-title" id="itemLi">
                                    <i class="iconos fa-solid fa-border-all"></i>
                                    <span class="ms-1 item_size" id="itemTitle">Formatos</span>
                                </a>
                                <ul class="collapse nav flex-column ms-1" id="subMenuFormats" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a asp-action="Index" asp-controller="Formats" class="nav-link px-3 item_subNav">
                                            <span class="item_size">
                                                <i class="subiconos fa-regular fa-circle ms-2"></i>
                                                <span class="ms-2">Listado</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Crear" asp-controller="Formats" class="nav-link px-3 item_subNav">
                                            <span class="item_size">
                                                <i class="subiconos fa-regular fa-circle ms-2"></i><span class="ms-2">Crear</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- * MEDIA TYPES -->
                            <li id="nav_items">
                                <a href="#subMenuMediaTypes" data-bs-toggle="collapse" class="nav-link align-middle nav-title" id="itemLi">
                                    <i class="iconos fa-solid fa-play"></i>
                                    <span class="ms-1 item_size" id="itemTitle">Tipos Media</span>
                                </a>
                                <ul class="collapse nav flex-column ms-1" id="subMenuMediaTypes" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a asp-action="Index" asp-controller="Mediatype" class="nav-link px-3 item_subNav">
                                            <span class="item_size">
                                                <i class="subiconos fa-regular fa-circle ms-2">

                                                </i><span class="ms-2">Listado</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Crear" asp-controller="Mediatype" class="nav-link px-3 item_subNav">
                                            <span class="item_size">
                                                <i class="subiconos fa-regular fa-circle ms-2"></i>
                                                <span class="ms-2">Crear</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- SOURCES -->
                            <li id="nav_items">
                                <a href="#subMenuSources" data-bs-toggle="collapse" class="nav-link align-middle nav-title" id="itemLi">
                                    <i class="iconos fa-solid fa-link"></i>
                                    <span class="ms-1 item_size" id="itemTitle">Fuentes</span>
                                </a>
                                <ul class="collapse nav flex-column ms-1" id="subMenuSources" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a asp-action="Index" asp-controller="Sources" class="nav-link px-3 item_subNav">
                                            <span class="item_size">
                                                <i class="subiconos fa-regular fa-circle ms-2">

                                                </i><span class="ms-2">Listado</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Crear" asp-controller="Sources" class="nav-link px-3 item_subNav" >
                                            <span class="item_size">
                                                <i class="subiconos fa-regular fa-circle ms-2"></i>
                                                <span class="ms-2">Crear</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- ADMIN -->
                            @if (MySignInManager.IsSignedIn(User) && currentUser.role == 1)
                            {
                                <li id="nav_items">
                                    <a href="#subMenuMediaUsers" data-bs-toggle="collapse" class="nav-link align-middle nav-title" id="itemLi">
                                        <i class="iconos fa-solid fa-user"></i>
                                        <span class="ms-1 item_size" id="itemTitle">Usuarios</span>
                                    </a>
                                    <ul class="collapse nav flex-column ms-1" id="subMenuMediaUsers" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a asp-action="Register" asp-controller="Users" class="nav-link px-3 item_subNav">
                                                <span class="item_size">
                                                    <i class="subiconos fa-regular fa-circle ms-2"></i>
                                                    <span class="ms-2">Nuevo</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Crear" asp-controller="Users" class="nav-link px-3 item_subNav">
                                                <span class="item_size">
                                                    <i class="subiconos fa-regular fa-circle ms-2"></i><span class="ms-2">Listado</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }

                        </ul>
                        <hr>
                        <!-- * PROFILE -->
                        <div class="dropdown pb-4 ms-md-4 col d-flex align-items-end justify-content-end">
                            <a href="#" class="d-flex justify-content-center text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@(currentUser.img != null ? currentUser.img : "https://picsum.photos/id/237/200/300")" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="px-4 item_subNav fs-6 profile-name-nav " id="profileName">@currentUser.name</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" asp-action="perfil" asp-controller="users">Perfil</a></li>
                                <li><a class="dropdown-item" asp-action="bio" asp-controller="users">Bio</a></li>
                                <li><a class="dropdown-item" asp-action="redes" asp-controller="users">Redes Sociales</a></li>
                                <li><a class="dropdown-item" asp-action="configuracion" asp-controller="users">Configuración</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form class="form-inline" asp-action="Logout" asp-controller="Users">
                                        <button type="submit" class="dropdown-item" href="#">Salir</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            } <!-- FIN IF DE USUARIO-->
            <!-- MAIN -->
            <main role="main" class="@(MySignInManager.IsSignedIn(User) ? "col" : "login-form-content") py-3">
                <div class="@(MySignInManager.IsSignedIn(User) ? "container" : "login-width")">
                    @RenderBody()

                    <!-- MODALS -->
                    @if (errorModal is not null)
                    {
                        <partial name="_ErrorModal" model=errorModal />
                    }

                    @if (successModal is not null)
                    {
                        <partial name="_SuccessModal" model=successModal />
                    }
                </div>
            </main>

        </div><!-- FIN DIV FLEX -->
    </div> <!-- FIN DIV CONTAINER -->


    <!-- SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.getElementById("btnBars").addEventListener("click", (e) =>
            {
                e.preventDefault();
                actionBar();
            }
        )

    </script>

</body>
</html>
