@model BioViewModel
@using Backend_portafolio.Helper
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Bio";

    // Obtenemos el año actual
    int anios = DateTime.Now.Year - 1900;
}

<h3>Bio</h3>
<div class="w-100 p-1 row gap-3">
    <div class=" mt-2 col-6 p-2">
        <table class="table table-borderless">
            <thead class="table-text-color text-uppercase border-bottom table-border-row-color">
                <tr class="table-titles">
                    <th scope="col" class="col-1">Año</th>
                    <th scope="col" class="col-8">trabajo</th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var bio in Model.Bios)
                {
                    if (Model.Bios.Count() != 0)
                    {
                        <tr class="@(bio == Model.Bios.LastOrDefault() ? "border-bottom-0" : "border-bottom table-border-row-color")">
                            <td>@bio.year</td>
                            <td>@bio.work</td>
                            <td class="d-flex gap-2 justify-content-center">
                                <a class="btn btn-edit" onclick="showFormEditar(@bio.id)">Editar</a>
                                <a class="btn btn-delete" onclick="openModal({id: '@bio.id', name: '@bio.work'})" )>Borrar</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <!-- BIO -->
        <button class="btn btn-action" id="btnAddBio" onclick="showForm()"><i class="fa-solid fa-plus me-2"></i>Agregar Bio</button>
        <form class="hide" id="formAddBio" asp-action="Bio" asp-controller="Users">
            <!-- VALIDATION -->
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="d-flex mt-2 gap-1">

                <div>
                    <select class="form-select" asp-for="@Model.year">
                        @for (int i = anios; i >= 50; i--)
                        {
                            <option value="@(i+1900)">@(i + 1900)</option>
                        }
                    </select>
                </div>
                <div>
                    <input type="text" class="form-control" id="inputFormBio" asp-for="@Model.work" />
                </div>

                <button type="submit" class="btn btn-action">Guardar</button>
                <a class="btn btn-delete" onclick="hideForm()">Cancelar</a>
            </div>
            <span asp-validation-for="@Model.work" class="form-error"></span>
            <span asp-validation-for="@Model.year" class="form-error"></span>
        </form>
        <!-- FIN BIOS-->
    </div>
    <!-- EDITAR -->
    <div class="mt-2 col-6 p-2 hide" id="formEditar">
        <h2>Editar</h2>
        <form asp-action="Editar" asp-controller="Users">
            <!-- VALIDATION -->
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" id="formIdEditar" asp-for="@Model.id" />
            <input type="hidden" id="formuserEditar" asp-for="@Model.user_id" />
            <div class="d-flex mt-2 gap-1">

                <div>
                    <select class="form-select" asp-for="@Model.year" id="formYearEditar">
                        @for (int i = anios; i >= 50; i--)
                        {
                            <option value="@(i+1900)">@(i + 1900)</option>
                        }
                    </select>
                </div>
                <div>
                    <input type="text" class="form-control" id="inputFormBioEditar" asp-for="@Model.work" />
                </div>

                <button type="submit" class="btn btn-edit">Editar</button>
                <a class="btn btn-delete" onclick="hideFormEditar()">Cancelar</a>
            </div>
            <span asp-validation-for="@Model.work" class="form-error"></span>
            <span asp-validation-for="@Model.year" class="form-error"></span>
        </form>
    </div>
</div>

<!-- MODAL -->
<partial name="_Modal" model='new { url = "/Users", action="Borrar" }' />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<script>

    function showForm()
    {
        let btn = document.getElementById("btnAddBio");
        let form = document.getElementById("formAddBio");
        form.classList.remove("hide");
    }

    function hideForm()
    {
        let form = document.getElementById("formAddBio");
        form.classList.add("hide");

        let formInput = document.getElementById("inputFormBio");
        formInput.ariaValueMax = "";

    }

    function showFormEditar(id)
    {
        let btn = document.getElementById("btnAddBio");
        let form = document.getElementById("formEditar");

        cargarBio(id);

        form.classList.remove("hide");
    }

     function hideFormEditar()
    {
        let form = document.getElementById("formEditar");
        form.classList.add("hide");

        let formInput = document.getElementById("inputFormBioEditar");
        formInput.ariaValueMax = "";

    }

</script>