@using Backend_portafolio.Helper
@inject IHttpContextAccessor HttpContextAccessor
@model UserViewModel

@{
    ViewData["Title"] = "Perfil"; 
}

<h3>Mi Perfil</h3>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="w-100 p-1 row gap-3">
    <form method="post" asp-action="EditarUser" asp-controller="Users" class="mt-2 col-6 p-2" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.id" />
        <input type="hidden" asp-for="@Model.role" />
        <!-- IMAGEN -->
        <div class="d-flex align-items-center mt-2 ">
            <div class="w-25">
                <p class="fw-bold">Imagen Perfil</p>
            </div>
            <div class="w-75">
                <img src="@Model.img" class="profile-picture-perfil rounded-2">
                <input type="file" id="image" name="ImageFile" accept="image/*" asp-for="ImageFile" class="form-control mt-2">
            </div>
        </div> <!-- FIN IMAGEN -->
        <!-- USUARIO -->
        <div class="d-flex  align-items-center mt-2">
            <div class="w-25">
                <p class="fw-bold">Usuario</p>
            </div>
            <div class="w-75">
                <input asp-for="@Model.username" class="form-control" readonly />
            </div>
        </div> <!-- FIN USUARIO-->
        <!-- NOMBRE -->
        <div class="d-flex  align-items-center mt-2">
            <div class="w-25">
                <p class="fw-bold">Nombre</p>
            </div>
            <div class="w-75">
                <input asp-for="@Model.name" class="form-control" />
            </div>
        </div> <!-- FIN NOMBRE-->
        <!-- MAIL -->
        <div class="d-flex  align-items-center mt-2">
            <div class="w-25">
                <p class="fw-bold">Mail</p>
            </div>
            <div class="w-75">
                <input asp-for="@Model.email" class="form-control" />
            </div>
        </div> <!-- FIN MAIL-->
        <!-- ABOUT-->
        <div class="d-flex align-items-center mt-2">
            <div class="w-25">
                <p class="fw-bold">Acerca de</p>
            </div>
            <div class="w-75">
                <textarea asp-for="@Model.about" class="form-control textarea-style" rows="5" placeholder="Agregar un resumen al perfil"></textarea>
            </div>
        </div> <!-- FIN ABOUT -->
        <!-- HOBBIES-->
        <div class="d-flex align-items-center mt-2">
            <div class="w-25">
                <p class="fw-bold">Hobbies</p>
            </div>
            <div class="w-75">
                <textarea asp-for="@Model.hobbies" class="form-control textarea-style" rows="10" placeholder="Agregar hobbies al perfil"></textarea>
            </div>
        </div> <!-- FIN BIOS -->
        <!-- CV -->
        <div class="d-flex  align-items-center mt-2">
            <div class="w-25">
                <p class="fw-bold">Curriculum Vitae</p>
            </div>
            <div class="w-75">
                <input asp-for="@Model.cv" class="form-control" />
            </div>
        </div> <!-- FIN CV -->
        <!-- REDES -->
        <!-- Todas las redes sociales -->
        <div class="mt-4 row col-12">
            <div class="col-4"></div>
            <div class="col-8 row justify-content-center gap-2">
                <button class="btn btn-edit col-5" onclick="successModal({msg: 'El perfil ha sifo modificado con éxito'})">Editar</button>
                <a class="btn btn-delete col-5" asp-controller="Home" asp-action="Index">Cancelar</a>
            </div>
        </div>
    </form>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}