@model SocialNetworkViewModel
@{
    ViewData["Title"] = "Redes";
}

<h3>Bio</h3>
<div class="w-100 p-1 row gap-3">
    <div class=" mt-2 col-6 p-2">

        <!-- TABLA CON REDES SOCIALES-->
        @if (Model.Networks.Count() is not 0)
        {
            <table class="table table-borderless">
                <thead class="table-text-color text-uppercase border-bottom table-border-row-color">
                    <tr class="table-titles">
                        <th scope="col" class="col-1">Red Social</th>
                        <th scope="col" class="col-8">URL</th>
                        <th scope="col" class="col-8">Usuario</th>
                        <th scope="col" class="col-8">Ícono</th>
                    </tr>
                </thead>
                <tbody class="table-body">

                    @foreach (var social in Model.Networks)
                    {
                        <tr class="@(social == Model.Networks.LastOrDefault() ? "border-bottom-0" : "border-bottom table-border-row-color")">
                            <td class="fw-bold">@social.name</td>
                            <td><a href="@social.url" target="_blank" class="link-info">LINK</a></td>
                            <td>@social.username</td>
                            <td><i class="fa-brands @social.icon fs-4 text-center"></i></td>
                            <td class="d-flex gap-2 justify-content-center">
                                <a class="btn btn-edit" onclick="showFormEditar(@social.id)">Editar</a>
                                <a class="btn btn-delete" onclick="openModal({id: '@social.id', name: '@social.name'})" )>Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Aún no hay Redes Sociales agregadas</p>
        }
        <!-- FIN TABLA CON REDES SOCIALES-->
        <!-- AGREGAR RED SOCIAL -->
        <button class="btn btn-action" id="btnAddRedes" onclick="showForm()"><i class="fa-solid fa-plus me-2"></i>Agregar Red Social</button>
        <form class="hide" id="formAddRedes" asp-action="Redes" asp-controller="Users">
            <input type="hidden" asp-for="@Model.user_id" />
            <!-- VALIDATION -->
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="mt-2">
                <div class="mb-2">
                    <label asp-for="@Model.name" class="form-label"></label>
                    <input type="text" class="form-control" id="formNameEditar" asp-for="@Model.name" />
                </div>
                <div class="mb-2">
                    <label asp-for="@Model.url" class="form-label"></label>

                    <input type="text" class="form-control" id="formUrlEditar" asp-for="@Model.url" />
                </div>
                <div class="mb-2">
                    <label asp-for="@Model.username" class="form-label"></label>
                    <input type="text" class="form-control" id="formUsernameEditar" asp-for="@Model.username" />
                </div>
                <div class="mb-2">
                    <label asp-for="@Model.icon" class="form-label"></label>
                    <input type="text" class="form-control" id="formIconEditar" asp-for="@Model.icon" />
                </div>

                <button type="submit" class="btn btn-action">Guardar</button>
                <a class="btn btn-delete" onclick="hideForm()">Cancelar</a>
            </div>
            <span asp-validation-for="@Model.name" class="form-error"></span>
            <span asp-validation-for="@Model.url" class="form-error"></span>
            <span asp-validation-for="@Model.username" class="form-error"></span>
            <span asp-validation-for="@Model.icon" class="form-error"></span>
        </form>
        <!-- FIN AGREGAR REDES SOCIALES-->
    </div>

    <!-- EDITAR RED SOCIAL -->
    <div class="mt-2 col-6 p-2 hide" id="formEditar">
        <h2>Editar</h2>
        <form asp-action="EditarRedes" asp-controller="Users">
            <!-- VALIDATION -->
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" id="formIdEditar" asp-for="@Model.id" />
            <input type="hidden" id="formUserEditar" asp-for="@Model.user_id" />
            <div class="mt-2">

                <div class="mb-2">
                    <label asp-for="@Model.name" class="form-label"></label>
                    <input type="text" class="form-control" id="formNameEditar" asp-for="@Model.name" />
                </div>
                <div class="mb-2">
                    <label asp-for="@Model.url" class="form-label"></label>
                    <input type="text" class="form-control" id="formUrlEditar" asp-for="@Model.url" />
                </div>
                <div class="mb-2">
                    <label asp-for="@Model.username" class="form-label"></label>
                    <input type="text" class="form-control" id="formUsernameEditar" asp-for="@Model.username" />
                </div>
                <div class="mb-2">
                    <label asp-for="@Model.icon" class="form-label"></label>
                    <input type="text" class="form-control" id="formIconEditar" asp-for="@Model.icon" />
                </div>

                <button type="submit" class="btn btn-edit">Editar</button>
                <a class="btn btn-delete" onclick="hideFormEditar()">Cancelar</a>
            </div>
            <span asp-validation-for="@Model.name" class="form-error"></span>
            <span asp-validation-for="@Model.url" class="form-error"></span>
            <span asp-validation-for="@Model.username" class="form-error"></span>
            <span asp-validation-for="@Model.icon" class="form-error"></span>
        </form>
    </div>
</div>

<!-- MODAL -->
<partial name="_Modal" model='new { url = "/Users", action="BorrarRedes" }' />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<script>

    function showForm()
    {
        let btn = document.getElementById("btnAddRedes");
        let form = document.getElementById("formAddRedes");
        form.classList.remove("hide");
    }

    function hideForm()
    {
        let form = document.getElementById("formAddRedes");
        form.classList.add("hide");

        // Limpiar campos
        let formNameEditar = document.getElementById("formNameEditar");
        formNameEditar.ariaValueMax = "";
        let formUrlEditar = document.getElementById("formUrlEditar");
        formUrlEditar.ariaValueMax = "";
        let formUsernameEditar = document.getElementById("formUsernameEditar");
        formUsernameEditar.ariaValueMax = "";
        let formIconEditar = document.getElementById("formIconEditar");
        formIconEditar.ariaValueMax = "";

    }

    function showFormEditar(id)
    {
        let btn = document.getElementById("btnAddRedes");
        let form = document.getElementById("formEditar");

        cargarRedes(id);

        form.classList.remove("hide");
    }

     function hideFormEditar()
    {
        let form = document.getElementById("formEditar");
        form.classList.add("hide");

        // Limpiar campos
        let formNameEditar = document.getElementById("formNameEditar");
        formNameEditar.ariaValueMax = "";
        let formUrlEditar = document.getElementById("formUrlEditar");
        formUrlEditar.ariaValueMax = "";
        let formUsernameEditar = document.getElementById("formUsernameEditar");
        formUsernameEditar.ariaValueMax = "";
        let formIconEditar = document.getElementById("formIconEditar");
        formIconEditar.ariaValueMax = "";

    }

</script>