@inject IHttpContextAccessor HttpContextAccessor
@using Backend_portafolio.Entities
@using Backend_portafolio.Helper

@model UserDataListViewModel
@{
    ViewData["Title"] = "Usuarios";
}

@{
    //Obtener página desde parámetros de la url
    if (!int.TryParse(ViewContext.HttpContext.Request.Query["page"], out int pageValue))
    {
        pageValue = 1;
    }

    if (!int.TryParse(ViewContext.HttpContext.Request.Query["role"], out int roleValue))
    {
        roleValue = 0;
    }

    string buscarValue = ViewContext.HttpContext.Request.Query["buscar"];


    //Cantidad de entradas por post
    var cantidadPorPost = Session.GetCantidadUsersSession(HttpContextAccessor.HttpContext);

    //Paginas de entradas
    var paginas = (Model.countUsers / cantidadPorPost) + 1;
}

<h1 class="mb-3">Listado de Usuarios</h1>
<p class="fs-6 mb-3">Nulla varius ex ut posuere consectetur. In tincidunt, nisi vitae. </p>
<P>Cantidad de Entradas Totales: @ViewBag.Cantidad</P>
<div class="d-flex flex-column flex-lg-row justify-content-lg-between lign-items-lg-center col-6 col-lg-12 gap-2">

    <!-- CANITDAD DE USUARIOS -->
    <select id="cantidadUserList" class="form-select select-style w-25" onchange="cambiarCantidadUsers(this.value)">
        <option selected>Cantidad de Usuarios</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
    </select>

    <!-- BUSCADOR-->
    @* <form method="post" asp-action="Users" class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-2"> *@
    <select id="roleUserList" name="role" class="form-select select-style w-25">
        <option selected>Roles</option>
        @foreach (var role in Model.roles)
        {
            <option value="@role.id">@role.name</option>
        })
    </select>

    <input id="searchUserList" type="text" name="buscar" class="form-control input-style" placeholder="Buscar entrada..." />
    <div class="input-group-append">
        <button type="submit" class="btn btn-action" onclick="buscarUsuarios()">Buscar</button>
    </div>
    @* </form> *@

</div>

<div class="w-100 p-1 row gap-3">
    <!-- TABLA CON REDES SOCIALES-->
    <div class=" mt-2 col-12 p-2">

        @if (Model.usersList.Count() is not 0)
        {
            <table class="table table-borderless">
                <thead class="table-text-color text-uppercase border-bottom table-border-row-color">
                    <tr class="table-titles">
                        <th scope="col" class="col-1">Username</th>
                        <th scope="col" class="col-4">Nombre</th>
                        <th scope="col" class="col-3">E-Mail</th>
                        <th scope="col" class="col-2">Rol</th>
                        <th scope="col" class="col-2">Api</th>
                        <th scope="col" class="col-1">Rees. Pass</th>
                        <th scope="col" class="col-1">Rees. Api</th>
                    </tr>
                </thead>
                <tbody class="table-body">

                    @foreach (var user in Model.usersList)
                    {
                        <form asp-action="EditRole">
                            <input type="hidden" asp-for="@Model.id" value="@user.id" />
                        <tr class="@(user == Model.usersList.LastOrDefault() ? "border-bottom-0" : "border-bottom table-border-row-color")">
                            <td class="fw-bold">@user.username</td>
                            <td>@user.name</td>
                            <td>@user.email</td>
                            <td>
                                    @* <i class="fs-4 text-center"></i>@Model.roles.Where(x => x.id == user.role).Select(x => x.name).FirstOrDefault() *@
                                <select asp-for="@Model.role">
                                        @foreach (var rol in Model.roles)
                                        {
                                            if (rol.id == user.role)
                                            {
                                            <option value="@rol.id" selected>@rol.name</option>
                                            }
                                            else
                                            {
                                            <option value="@rol.id">@rol.name</option>
                                            }
                                        }
                                </select>
                            </td>
                            <td>
                                <i id="copyApiKey" class="fa-solid fa-copy btn text-primary" api-value="@user.apiKey" onclick="copyApiKey()"></i>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="@Model.recoveryPass" />
                            </td>
                            <td>
                                <input type="checkbox" asp-for="@Model.recoveryApikey" />
                            </td>
                            <td class="d-flex gap-2 justify-content-center">
                                <button type="submit" class="btn btn-edit">Editar</button>
                                <a class="btn btn-delete" onclick="location.reload()">Cancelar</a>
                            </td>
                        </tr>
                        </form>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Aún no hay Redes Sociales agregadas</p>
        }

        @* <button class="btn btn-action" id="btnAddRedes" onclick="showForm()"><i class="fa-solid fa-plus me-2"></i>Editar Usuariosl</button> *@

        @if (paginas > 1)
        {
            <nav class="w-100 d-flex justify-content-center">
                <ul class="pagination justify-content-end">

                    <!-- LEFT ARROW -->
                    @if (pageValue != 1)
                    {
                        <li class="page-item">
                            <a class="page-link bg-pagination"
                               href="/Users/Users/?buscar=@(buscarValue)&role=@(roleValue)&page=@((pageValue - 1).ToString())">
                                <i class="fa-solid fa-chevron-left">
                                </i>
                            </a>
                        </li>
                    }

                    <!-- NUMBERS PAGES-->
                    @for (int i = 1; i <= @paginas; i++)
                    {
                        <li class="page-item">
                            <a class="page-link @(pageValue == i
                                                ? "bg-pagination-active"
                                                : "bg-pagination")"
                               href="/Users/Users/?buscar=@(buscarValue)&role=@(roleValue)&page=@(i.ToString())">
                                @(i)
                            </a>
                        </li>
                    }

                    <!-- RIGHT ARROW -->
                    @if (pageValue < @paginas)
                    {
                        <li class="page-item">
                            <a class="page-link bg-pagination"
                               href="/Users/Users/?buscar=@(buscarValue)&role=@(roleValue)&page=@((pageValue + 1).ToString())">
                                <i class="fa-solid fa-chevron-right">
                                </i>
                            </a>
                        </li>
                    }

                </ul>
            </nav>
        }
    </div>
</div>

<!-- TOAST -->
<div id="snackbar">¡Se ha copiado la ApiKey en el portapapeles!</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<script>

    function copyApiKey()
    {
          let apiKeyEl = document.getElementById("copyApiKey");
          let apiKey = apiKeyEl.getAttribute("api-value");
          navigator.clipboard.writeText(apiKey);


          openToast()
    }

</script>