@model TextControlModel

<div class="mb-3">
    <div class="d-flex flex-row align-content-center flex-lg-wrap gap-1 mb-3 min-w-100">
        <!-- BOTONES OPCIONES MARKDOWN -->
        <a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('h1', '@Model.EditorId')"><span class="fs-6">h1</span></a>
        <a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('h2', '@Model.EditorId')"><span class="fs-6">h2</span></a>
        <a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('h3', '@Model.EditorId')"><span class="fs-6">h3</span></a>
        <a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('bold', '@Model.EditorId')"><strong>Bold</strong></a>
        <a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('italic', '@Model.EditorId')"><span class="fst-italic">Italic</span></a>
        <a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('link', '@Model.EditorId')"><i class="fa-solid fa-link"></i></a>
        <a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('image', '@Model.EditorId')"><i class="fa-regular fa-image"></i></a>

        <!-- EDIT MODE COMPLETO -->
        @if(Model.EditMode == EditMode.Full)
        {
            <a class="btn btn-add mb-1" onclick="addTextFormat('quote', '@Model.EditorId')" title="Cita"><i class="fa-solid fa-quote-left"></i></a>
            <a class="btn btn-add mb-1" onclick="addTextFormat('hr', '@Model.EditorId')" title="Línea horizontal"><i class="fa-solid fa-minus"></i></a>

            <!-- SELECTED CODE -->
            <select id="selectLanguage-@Model.EditorId" class="form-select select-style-text-control">
                <option value="-" selected>Elegir</option>

                @foreach (var language in Model.Language)
                {
                    <option value="@language" >@language</option>
                }
                )
            </select>

            <a class="btn btn-add mb-1" id="btn-h1" onclick="addTextFormat('code')"><i class="fa-solid fa-code"></i></a>
            <!-- FIN SELECTED CODE -->
        }
    </div>

    <!-- TEXT -->
    <textarea name="@Model.FieldName" class="form-control textarea-style" rows="10" placeholder="Agregar contenido de la entrada" id="editor-@Model.EditorId">@Model.FieldValue</textarea>

    <!-- VALIDACION -->
    <span asp-validation-for="@Model.FieldName" class="form-error"></span>
</div>