@model PostViewModel
@using System.Text.Json;

@{
    ViewData["Title"] = "Crear post";
}

<div class="mt-5">
    <h1>Crear @Model.format</h1>
    <fs-4>El texto debe ser escrito con markdown para poder colocar estilos.</fs-4>

    <form asp-action="Crear" method="post" class="mt-5">

        <!-- VALIDATION -->
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

        <!-- HIDDEN -->
        <input type="hidden" asp-for="user_id" />
        <input type="hidden" asp-for="format_id" />
        <input type="hidden" asp-for="format" />
        <input type="hidden" asp-for="mediaListString" id="imageLinksField" />

        <!-- CREACION DE ENTRADA -->
        <div class="mb-3">
            <input asp-for="title" class="form-control fs-2 fw-bolder" placeholder="Agregar titulo"/>
            <span asp-validation-for="title" class="form-error"></span>
        </div>

         <!-- POST -->
        <div class="mb-3">
            <!-- STYLES -->
            <partial name="_TextControl" />

            <!-- TEXT -->
            <textarea asp-for="description" class="form-control textarea-style" rows="10" placeholder="Agregar contenido de la entrada" id="post_text"></textarea>
            <span asp-validation-for="description" class="form-error"></span>
        </div>

        <div class="mb-3">
            <input asp-for="cover" class="form-control" placeholder="Agregar la imagen principal para ilustracion"/>
            <span asp-validation-for="cover" class="form-error"></span>
        </div>

        <div class="mb-3">
            <select asp-for="category_id" asp-items="Model.categories" class="form-select select-style"></select>
            <span asp-validation-for="category_id" class="form-error"></span>
        </div>

        <!-- AGREGAR MULTIMEDIA -->
        <button type="button" class="btn btn-add  mb-3" onclick="addInput()">Agregar Multimedia</button>
        <div id="inputContainer">
        </div>

        <!-- CHECKBOX BORRADOR -->
        <div class="mb-3">
            <p>Gaurdar Borrador</p>
            <input type="checkbox" asp-for="draft" />
        </div>

        <!-- BUTTON -->
        <button type="submit" class="btn btn-action" onclick="enviarDatosAlServidor()">Publicar</button>
        <a asp-action="Index" asp-route-format="@Model.format" class="btn btn-add">Borrador</a> <!-- TODO: GUARDA EL POST-->
        <a asp-action="Index" asp-route-format="@Model.format" class="btn btn-delete"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
    </form>

</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />

    <script>
  
        function addInput() {
            //Agregamos elemento nuevo para agragar nuevo medias
            var container = document.getElementById('inputContainer');
            var div = document.createElement('div');
            div.className = 'input-group';

            // Creamos el select
            var select = document.createElement('select');
            select.className = 'form-select mb-3 select-style w-25';

            // Agregamos opciones al select utilizando los SelectListItem del modelo
            @foreach (var item in Model.mediaTypes)
            {
                <text>
                    var option = document.createElement("option");
                    option.text = "@item.Text";
                    option.value = "@item.Value";
                    select.add(option);
                </text>
            }
                // Agregamos el select al div
                div.appendChild(select);

            // Creamos el input
            var input = document.createElement('input');
            input.className = 'form-control mb-3 imgList imgAdd input-style w-50';
            input.placeholder = 'Ingrese link multimedia';
            // Agregamos el input al div
            div.appendChild(input);

            // Creamos los botones
            var addButton = document.createElement('button');
            addButton.type = 'button';
            addButton.className = 'btn btn-action ms-2 h-50';
            addButton.textContent = 'Agregar';
            addButton.onclick = function () { addList(this); };
            // Agregamos el botón al div
            div.appendChild(addButton);

            var removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'btn btn-delete ms-2 h-50';
            removeButton.textContent = 'Eliminar';
            removeButton.onclick = function () { removeInput(this); };
            // Agregamos el botón al div
            div.appendChild(removeButton);

            // Agregamos el div al contenedor
            container.appendChild(div);
        }

    </script>
}