@model IEnumerable<ListPostViewModel>
@{
	ViewData["Title"] = "Entradas";
}

<h1>@ViewBag.Format</h1>
<a asp-action="Crear" asp-route-format="@ViewBag.Format" class="btn btn-primary">Crear nuevo @ViewBag.Format </a>
	@foreach (var format in Model)
	{
		<table class="table">

			<thead>
				<tr>
					<th>Titulo</th>
					<th>Categoria</th>
					<th>Formato</th>
					<th>Creación</th>
					<th>Acciones</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var post in format.posts)
				{
					if(format.posts.Count() != 0)
					{
						<tr>
							<td>@post.title</td>
							<td>@post.categoryName</td>
							<td>@post.formatName</td>
							<td>@post.created_at.ToShortDateString()</td>
							<td>
							<a class="btn btn-primary" asp-action="Editar" asp-route-id="@post.id" asp-route-format="@ViewBag.Format">Editar</a>
								<a class="btn btn-danger" onclick="openModal({id: '@post.id', name: '@post.title'})" )>Borrar</a>
							</td>
						</tr>
					}
				}
			</tbody>

		</table>
	}

@*MODAL PARA BORRAR - PASAR A UN PARTIAL*@
<div class="closeModal" id="modal">
	<div class="bgModal" onclick="closeModal()">
		<div class="modalBorrar modal-content p-4">
			<h4 id="modalMsg" class="mb-4"></h4>
			<form asp-controller="Posts" asp-action="Borrar" method="post">
				<input type="hidden" name="id" />
				<button type="submit" class="btn btn-danger">Borrar</button>
				<a class="btn btn-primary" onclick="closeModal()">Cancelar</a>
			</form>
		</div>
	</div>
</div>
