@model IEnumerable<ListPostViewModel>
@{
	ViewData["Title"] = "Entradas";
}

<h1>@ViewBag.Format</h1>
<div class="d-flex justify-content-between align-items-center">
	<a asp-action="Crear" asp-route-format="@ViewBag.Format" class="btn btn-action">Crear nuevo @ViewBag.Format </a>
	<div class="d-flex justify-content-center align-items-center gap-2">
		<input type="text" class="form-control input-style" placeholder="Buscar entrada..." />
		<div class="input-group-append">
			<a class="btn btn-action">Buscar</a>
		</div>
	</div>
</div>
	@foreach (var format in Model)
	{
		<div class="border-table mb-3">
			<table class="table table-borderless">
				<thead class="table-text-color text-uppercase border-bottom table-border-row-color">
					<tr class="table-titles">
					<th scope="col" class="col-4">Titulo</th>
					<th scope="col" class="col-4">Categoria</th>
					<th scope="col" class="col-2">Formato</th>
					<th scope="col" class="col-2">Creación</th>
					<th scope="col" class="col-3">Acciones</th>
					</tr>
				</thead>
			<tbody class="table-body">
					@foreach (var post in format.posts)
					{
						if (format.posts.Count() != 0)
						{
						<tr class="@(post == format.posts.LastOrDefault() ? "border-bottom-0" : "border-bottom table-border-row-color")">
								<td>@post.title</td>
								<td>@post.category</td>
								<td>@post.format</td>
								<td>@post.created_at.ToShortDateString()</td>
								<td class="d-flex gap-2">
								<a class="btn btn-edit" asp-action="Editar" asp-route-id="@post.id" asp-route-format="@ViewBag.Format">Editar</a>
								<a class="btn btn-delete" onclick="openModal({id: '@post.id', name: '@post.title'})" )>Borrar</a>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	}

<nav class="w-100 d-flex justify-content-center">
	<ul class="pagination justify-content-end">

		<li class="page-item">
			<button class="page-link bg-pagination" href="#" tabindex="-1" disabled>Anterior</button>
		</li>

		<li class="page-item"><a class="page-link bg-pagination" href="#">1</a></li>

		<li class="page-item">
			<button class="page-link bg-pagination" href="#">Siguiente</button>
		</li>

	</ul>
</nav>

<!-- MODAL -->
<partial name="_Modal" model='new { url = "/Posts" }' />
