@inject IHttpContextAccessor HttpContextAccessor
@using Backend_portafolio.Helper

@model IEnumerable<Post>
@{
	ViewData["Title"] = "Entradas";

	//Obtener página desde parámetros de la url
	int pageValue;
	if (!int.TryParse(ViewContext.HttpContext.Request.Query["page"], out pageValue))
	{
		pageValue = 1;
	}

	// Error modal
	ModalViewModel errorModal = Session.GetErrorSession(HttpContextAccessor.HttpContext);

	//Cantidad de entradas por post
	var cantidadPorPost = Session.GeCantidadPostsSession(HttpContextAccessor.HttpContext);

	//Paginas de entradas
	var paginas = (ViewBag.Cantidad / cantidadPorPost) + 1;
}

<h1 class="mb-3">Listado de @ViewBag.Format</h1>
<p class="fs-6 mb-3">Nulla varius ex ut posuere consectetur. In tincidunt, nisi vitae. </p>
<P>Cantidad de Entradas Totales: @ViewBag.Cantidad</P>
<div class="d-flex justify-content-between align-items-center">

	<!-- CREAR NUEVO -->
	<a asp-action="Crear" asp-route-format="@ViewBag.Format" class="btn btn-action">Crear nuevo @ViewBag.Format </a>

	<select onchange="cambiarCantidadEntradas(this.value)" class="form-select select-style w-25">
		<option selected>Cantidad de Entradas</option>
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="15">15</option>
	</select>

	<!-- BUSCADOR-->
	<form method="post" asp-action="Index" class="d-flex justify-content-center align-items-center gap-2">
		<input type="hidden" name="format" value="@ViewBag.Format"/>
		<input type="text" name="buscar" class="form-control input-style" placeholder="Buscar entrada..." />
		<div class="input-group-append">
			<button type="submit" class="btn btn-action">Buscar</button>
		</div>
	</form>

</div>

<div class="border-table mb-3">
	<table class="table table-borderless">
		<thead class="table-text-color text-uppercase border-bottom table-border-row-color">
			<tr class="table-titles">
			<th scope="col" class="col-4">Titulo</th>
			<th scope="col" class="col-2">Categoria</th>
			<th scope="col" class="col-1 text-center">Formato</th>
			<th scope="col" class="col-2 text-center">Creación</th>
			<th scope="col" class="col-2 text-center">Modificación</th>
			<th scope="col" class="col-3 text-center">Borrador</th>
			<th scope="col" class="col-3 text-center">Acciones</th>
			</tr>
		</thead>
	<tbody class="table-body">
			@foreach (var post in Model)
			{
				if (Model.Count() != 0)
				{
				<tr class="@(post == Model.LastOrDefault() ? "border-bottom-0" : "border-bottom table-border-row-color")">
						<td>@post.title</td>
						<td>@post.category</td>
						<td class="text-center">@post.format</td>
						<td class="text-center @(post.draft ? "text-borrador" : "text-publicado")">@(post.draft ? "Borrador" : "Publicado")</td>
						<td class="text-center">@post.created_at.ToShortDateString()</td>
						<td class="text-center"> @(post.modify_at != DateTime.MinValue ? post.modify_at.ToShortDateString() : " - ")</td>
						<td class="d-flex gap-2 justify-content-center">
						<a class="btn btn-edit" asp-action="Editar" asp-route-id="@post.id" asp-route-format="@ViewBag.Format">Editar</a>
						<a class="btn btn-delete" onclick="openModal({id: '@post.id', name: '@post.title'})" )>Borrar</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>

<nav class="w-100 d-flex justify-content-center">
	<ul class="pagination justify-content-end">

		@if (pageValue != 1)
		{
			<li class="page-item">
				<a class="page-link bg-pagination" href="/Posts/?format=@ViewBag.Format&page=@((pageValue - 1).ToString())"><i class="fa-solid fa-chevron-left"></i></a>
			</li>
		}

		@for (int i = 1; i <= @paginas; i++)
		{
			<li class="page-item"><a class="page-link @(pageValue == i ? "bg-pagination-active" : "bg-pagination")" href="/Posts/?format=@ViewBag.Format&page=@(i.ToString())">@(i)</a></li>
		}

		@if ((pageValue) < @paginas)
		{
			<li class="page-item">
				<a class="page-link bg-pagination" href="/Posts/?format=@ViewBag.Format&page=@((pageValue + 1).ToString())"><i class="fa-solid fa-chevron-right"></i></a>
			</li>
		}

	</ul>
</nav>

<!-- MODAL -->
<partial name="_Modal" model='new { url = "/Posts" }' />

<!-- MODAL ERROR -->
@if (errorModal is not null)
{
	<partial name="_ErrorModal" model=errorModal />
}


