@model SocialNetworkViewModel
@{
    ViewData["Title"] = "Redes";
}

<h3>Redes</h3>
<div class="w-100 p-1 row gap-3">
    <!-- TABLA CON REDES SOCIALES-->
    <div class=" mt-2 col-6 p-2">

        @if (Model.Networks.Count() is not 0)
        {
            <table class="table table-borderless">
                <thead class="table-text-color text-uppercase border-bottom table-border-row-color">
                    <tr class="table-titles">
                        <th scope="col" class="col-1">Red Social</th>
                        <th scope="col" class="col-8">URL</th>
                        <th scope="col" class="col-8">Usuario</th>
                        <th scope="col" class="col-8">Ícono</th>
                    </tr>
                </thead>
                <tbody class="table-body">

                    @foreach (var social in Model.Networks)
                    {
                        <tr class="@(social == Model.Networks.LastOrDefault() ? "border-bottom-0" : "border-bottom table-border-row-color")">
                            <td class="fw-bold">@social.name</td>
                            <td><a href="@social.url" target="_blank" class="link-info">LINK</a></td>
                            <td>@social.username</td>
                            @* <td><i class="fa-brands @social.icon fs-4 text-center"></i></td> *@
                            <td><img src="@social.icon" class="source-picture-perfil fs-4 text-center"></td>
                            <td class="d-flex gap-2 justify-content-center">
                                <a class="btn btn-edit" onclick="showFormEditar(@social.id)">Editar</a>
                                <a class="btn btn-delete" onclick="openModal({id: '@social.id', name: '@social.name'})" )>Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Aún no hay Redes Sociales agregadas</p>
        }

        <button class="btn btn-action" id="btnAddRedes" onclick="showForm()"><i class="fa-solid fa-plus me-2"></i>Agregar Red Social</button>
    </div>
    <!-- FIN TABLA CON REDES SOCIALES-->
    <!-- AGREGAR RED SOCIAL -->
    <div class="hide col-6" id="formAddRedes">
        <h2>Crear</h2>
        <form class="mt-2" asp-action="Redes" asp-controller="network" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.user_id" />
            <input type="hidden" asp-for="@Model.icon" id="socialIcon" />
            <!-- VALIDATION -->
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="mt-2">
                <div class="mb-2">
                    <select class="form-select select-style" onchange="addSocial(this)">
                        <option disabled selected>Seleccione Red Social</option>
                        @foreach(var social in Model.Defaults)
                        {
                            <option value="@social.Name" icon="@social.IconUrl">@social.Name</option>
                        }
                        <option value="otra">Otra</option>
                    </select>
                </div>
                
                <!-- OCULTAR HASTA QUE QUIERAN CREAR UNA NUEVA-->
                <div class="mb-2 hide" id="SocialNameEl">
                    <input type="text" id="SocialName" class="form-control" asp-for="@Model.name" placeholder="Ingrese el nombre de la Red Social" />
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" asp-for="@Model.url" placeholder="Ingrese la dirección de la Red Social" />
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" asp-for="@Model.username" placeholder="Ingrese el usuario de la Red Social" />
                </div>

                <!-- OCULTAR HASTA QUE QUIERAN CREAR UNA NUEVA-->
                <div class="mb-2 hide" id="SocialImageEl">
                    <input type="file" id="image" name="ImageFile" accept="image/*" asp-for="ImageFile" class="form-control mt-2" placeholder="Imagen del ícono de la Red Social">
                </div>

                <button type="submit" class="btn btn-action">Guardar</button>
                <a class="btn btn-delete" onclick="hideForm()">Cancelar</a>
            </div>
            <span asp-validation-for="@Model.name" class="form-error"></span>
            <span asp-validation-for="@Model.url" class="form-error"></span>
            <span asp-validation-for="@Model.username" class="form-error"></span>
            <span asp-validation-for="@Model.icon" class="form-error"></span>
        </form>
    </div>
    <!-- FIN AGREGAR REDES SOCIALES-->
    <!-- EDITAR RED SOCIAL -->
    <div class="mt-2 col-6 p-2 hide" id="formEditar">
        <h2>Editar</h2>
        <form asp-action="EditarRedes" asp-controller="network" enctype="multipart/form-data">
            <!-- VALIDATION -->
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <input type="hidden" id="formIdEditar" asp-for="@Model.id" />
            <input type="hidden" id="formUserEditar" asp-for="@Model.user_id" />
            <input type="hidden" id="formIconEditar" asp-for="@Model.icon" />
            <div class="mt-2">

                <div class="mb-2">
                    <input type="text" class="form-control" id="formNameEditar" asp-for="@Model.name" />
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" id="formUrlEditar" asp-for="@Model.url" />
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" id="formUsernameEditar" asp-for="@Model.username" />
                </div>
                @*                 <div class="mb-2">
                    <input type="text" class="form-control" id="formIconEditar" asp-for="@Model.icon" />
                </div> *@
                <div class="mb-2">
                    <input type="file" id="image" name="ImageFile" accept="image/*" asp-for="ImageFile" class="form-control mt-2" placeholder="Imagen del ícono de la Red Social">
                </div>

                <button type="submit" class="btn btn-edit">Editar</button>
                <a class="btn btn-delete" onclick="hideFormEditar()">Cancelar</a>
            </div>
            <span asp-validation-for="@Model.name" class="form-error"></span>
            <span asp-validation-for="@Model.url" class="form-error"></span>
            <span asp-validation-for="@Model.username" class="form-error"></span>
            <span asp-validation-for="@Model.icon" class="form-error"></span>
        </form>
    </div>
</div>

<!-- MODAL -->
<partial name="_Modal" model='new { url = "/Network", action = "BorrarRedes" }' />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<script>

    function showForm()
    {
        let formAdd = document.getElementById("formAddRedes");
        let formEdit = document.getElementById("formEditar");

        formAdd.classList.remove("hide");

        if(!formEdit.classList.contains('hide'))
            formEdit.classList.add('hide');
    }

    function hideForm()
    {
        let form = document.getElementById("formAddRedes");
        form.classList.add("hide");

        // Limpiar campos
        let formNameEditar = document.getElementById("formNameEditar");
        formNameEditar.ariaValueMax = "";
        let formUrlEditar = document.getElementById("formUrlEditar");
        formUrlEditar.ariaValueMax = "";
        let formUsernameEditar = document.getElementById("formUsernameEditar");
        formUsernameEditar.ariaValueMax = "";
        let formIconEditar = document.getElementById("formIconEditar");
        formIconEditar.ariaValueMax = "";

    }

    function showFormEditar(id)
    {
        let formAdd = document.getElementById("formAddRedes");
        let formEdit = document.getElementById("formEditar");

        cargarRedes(id);

        formEdit.classList.remove("hide");

        if(!formAdd.classList.contains('hide'))
            formAdd.classList.add('hide');
    }

     function hideFormEditar()
    {
        let form = document.getElementById("formEditar");
        form.classList.add("hide");

        // Limpiar campos
        let formNameEditar = document.getElementById("formNameEditar");
        formNameEditar.ariaValueMax = "";
        let formUrlEditar = document.getElementById("formUrlEditar");
        formUrlEditar.ariaValueMax = "";
        let formUsernameEditar = document.getElementById("formUsernameEditar");
        formUsernameEditar.ariaValueMax = "";
        let formIconEditar = document.getElementById("formIconEditar");
        formIconEditar.ariaValueMax = "";

    }

    function addSocial(element)
    {
        let selected = element.options[element.selectedIndex];
        let socialNameEl = document.getElementById("SocialNameEl");
        let socialName = document.getElementById("SocialName");
        let socialImageEl = document.getElementById("SocialImageEl");
        let socialIcon = document.getElementById("socialIcon");

        if(selected.value == 'otra')
        {
            console.log("Entramos")
            // MOSTRAR OPCIONES
            socialNameEl.classList.remove("hide");
            socialImageEl.classList.remove("hide");
        }
        else
        {
            // OCULTAR OPCIONES DE CREACION
            socialNameEl.classList.add("hide");
            socialImageEl.classList.add("hide");

            socialIcon.value = selected.getAttribute("icon");
            socialName.value = selected.value;
        }
    }

</script>